.container {
    // margin: 50px;
}

.header {
    height: 60px;
    margin-bottom: 30px;
    background-color: rgba(12, 29, 44, 1);
}


.header-title{
    color: white;
    font-weight: 600;
    font-size: 30px;
    margin-top: 0;
    margin-left: 10%;
    margin-bottom: 0;
    padding-top: 10px;
}