.img {
    max-width: 100%;
    cursor: zoom-in;
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-height: 400px;
    min-height: 400px;
    object-fit: contain;

    &-index {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: relative;
        margin-top: -31px;
        top: 30px;
    }

    &-caption {
        font-size: 14px;
        color: #f2f2f2;
        position: absolute;
        bottom: 8px;
        width: 100%;
        text-align: center;
    }
}