.img {
    width: 100%;

    &-index {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: relative;
        margin-top: -30px;
        top: 30px;
    }

    &-caption {
        font-size: 11px;
    }
}


.img-caption {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}