.img {
    max-width: 100%;
    cursor: zoom-in;
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-height: 400px;
    min-height: 400px;
    object-fit: contain;

    &-caption {
        font-size: 14px;
        color: #f2f2f2;
        position: absolute;
        bottom: 8px;
        width: 100%;
        text-align: center;
    }
}